<div class="container-fluid">
    <!-- Page Heading -->
    <h1 data-locale-key="about_us" class="h3 mb-2 text-gray-800">About Us</h1>

    <!-- About Us Card -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 data-locale-key="project_overview" class="m-0 font-weight-bold text-primary text-2xl"></h6>
        </div>
        <div class="card-body row">
            <div class="col-lg-6 text-center mx-auto">
                <div>
                    <h5 data-locale-key="project_title" class="mb-4 text-center text-gray-900 font-weight-bold"></h5>
                    <img src="project.png" alt="project-img" class="img-fluid mb-4"></img>
                </div>
            </div>
            <div class="col-lg-6 text-center mx-auto my-2">
                <p data-locale-key="project_overview_content" class="text-justify text-lg font-weight-bold"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- About Us Card -->
        <div class="col-lg-6 card shadow mb-4">
            <div class="card-header py-3">
                <h6 data-locale-key="lead_institution" class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body row">
                <div class="col align-items-center justify-content-center mx-auto">
                    <div>
                        <h5 data-locale-key="ntpu" class="mb-4 text-center text-gray-900 font-weight-bold"></h5>
                        <img src="img/ntpu-logo.png" alt="ntpu-logo" class="img-fluid mb-4"></img>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Us Card -->
        <div class="col-lg-6 card shadow mb-4">
            <div class="card-header py-3">
                <h6 data-locale-key="project_sponsor" class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body row">
                <div class="d-flex col align-items-center justify-content-center mx-auto">
                    <div>
                        <h5 data-locale-key="honhui" class="mb-4 text-center text-gray-900 font-weight-bold"></h5>
                        <img src="img/honhui-logo.png" alt="ntpu-logo" class="img-fluid mb-4"></img>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Card -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 data-locale-key="team" class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">
            <div class="row col d-flex align-items-center justify-content-center mx-auto mb-4">
                <div class="col-md-4 text-center">
                    <h3 data-locale-key="project_leader" class="m-3 text-center text-gray-800 font-weight-bold"></h3>
                    <img src="img/leader.png" alt="leader-img" class="img-fluid mb-2 border" width="175"></img>
                    <h5 data-locale-key="yue_shan_chang" class="text-center text-gray-900 font-weight-bold"></h5>
                    <p data-locale-key="distinguished_prof" class="mb-1"></p>
                    <p data-locale-key="csie"></p>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-center align-items-center col">
                    <h3 data-locale-key="project_assistant" class="mb-4 text-center text-gray-800 font-weight-bold"></h3>
                </div>
            </div>
            <div class="col text-center">
                <img src="img/member5.png" alt="member5-img" class="img-fluid mb-2 border" width="175"></img>
                <h5 data-locale-key="cheng_han_zhan" class="text-center text-gray-900 font-weight-bold"></h5>
                <p data-locale-key="csie2"></p>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3 text-center">
                    <img src="img/member1.png" alt="member1-img" class="img-fluid mb-2 border" width="150"></img>
                    <h5 data-locale-key="geoffrey_farrel" class="text-center text-gray-900 font-weight-bold"></h5>
                    <p data-locale-key="csie"></p>
                </div>
                <div class="col-md-3 mb-4 text-center">
                    <img src="img/member2.png" alt="member2-img" class="img-fluid mb-2 border" width="150"></img>
                    <h5 data-locale-key="wen_jun_huang" class="text-center text-gray-900 font-weight-bold"></h5>
                    <p data-locale-key="csie"></p>
                </div>
                <div class="col-md-3 mb-4 text-center">
                    <img src="img/member3.png" alt="member3-img" class="img-fluid mb-2 border" width="150"></img>
                    <h5 data-locale-key="ellen_asyana_gani" class="text-center text-gray-900 font-weight-bold"></h5>
                    <p data-locale-key="csie"></p>
                </div>
                <div class="col-md-3 mb-4 text-center">
                    <img src="img/member4.png" alt="member4-img" class="img-fluid mb-2 border" width="150"></img>
                    <h5 data-locale-key="vincent_nyoman" class="text-center text-gray-900 font-weight-bold"></h5>
                    <p data-locale-key="csie"></p>
                </div>
            </div>
        </div>
    </div>
</div>