                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 data-locale-key="all_data_result" class="h3 mb-2 text-gray-800"></h1>
                    <!-- Temperature Table -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 data-locale-key="temperatureTable" class="m-0 font-weight-bold text-primary"></h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form id="temperatureDateRangeForm" action="/all-data" method="GET" class="dataAllTable">
                                    <div class="row d-flex justify-content-start mb-2">
                                        <div class="col-xl-2 col-md-4 col-sm-6">
                                            <span class="mr-2">Start Date: <input type="text" id="temperatureStartDatePicker" class="mr-4 form-control" name="startDate"></span>
                                        </div>
                                        <div class="col-xl-2 col-md-4 col-sm-6">
                                            <span>End Date: <input type="text" id="temperatureEndDatePicker" class="mr-4 form-control" name="endDate"></span>
                                        </div>
                                        <div class="align-items-center user-select-none col-xl-2 col-md-4 col-sm-12">
                                            <br>
                                            <button class="btn btn-primary btn-icon-split mb-4" type="submit">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                                <span class="text">Search</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <table class="table table-bordered dataTable" id="temperatureAllTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th data-locale-key="time" class="text-center align-middle"></th>
                                            <th data-locale-key="measured_temperature" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_temperature_1" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_temperature_2" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_temperature_3" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_temperature_4" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_temperature_5" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_temperature_6" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_temperature_7" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_temperature_8" class="text-center align-middle"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- pH Table -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 data-locale-key="pHTable" class="m-0 font-weight-bold text-primary"></h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form id="pHDateRangeForm" action="/all-data" method="GET">
                                    <div class="row d-flex justify-content-start mb-2">
                                        <div class="col-xl-2 col-md-4 col-sm-6">
                                            <span class="mr-2">Start Date: <input type="text" id="pHStartDatePicker" class="mr-4 form-control" name="startDate"></span>
                                        </div>
                                        <div class="col-xl-2 col-md-4 col-sm-6">
                                            <span>End Date: <input type="text" id="pHEndDatePicker" class="mr-4 form-control" name="endDate"></span>
                                        </div>
                                        <div class="align-items-center user-select-none col-xl-2 col-md-4 col-sm-12">
                                            <br>
                                            <button class="btn btn-primary btn-icon-split mb-4" type="submit">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                                <span class="text">Search</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <table class="table table-bordered temperatureTable dataTable" id="pHAllTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th data-locale-key="time" class="text-center align-middle"></th>
                                            <th data-locale-key="measured_acidity" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_acidity_1" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_acidity_2" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_acidity_3" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_acidity_4" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_acidity_5" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_acidity_6" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_acidity_7" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_acidity_8" class="text-center align-middle"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Conductivity Table -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 data-locale-key="conductivityTable" class="m-0 font-weight-bold text-primary"></h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form id="conductivityDateRangeForm" action="/all-data" method="GET">
                                    <div class="row d-flex justify-content-start mb-2">
                                        <div class="col-xl-2 col-md-4 col-sm-6">
                                            <span class="mr-2">Start Date: <input type="text" id="conductivityStartDatePicker" class="mr-4 form-control" name="startDate"></span>
                                        </div>
                                        <div class="col-xl-2 col-md-4 col-sm-6">
                                            <span>End Date: <input type="text" id="conductivityEndDatePicker" class="mr-4 form-control" name="endDate"></span>
                                        </div>
                                        <div class="align-items-center user-select-none col-xl-2 col-md-4 col-sm-12">
                                            <br>
                                            <button class="btn btn-primary btn-icon-split mb-4" type="submit">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                                <span class="text">Search</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <table class="table table-bordered dataTable" id="conductivityAllTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th data-locale-key="time" class="text-center align-middle"></th>
                                            <th data-locale-key="measured_conductivity" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_conductivity_1" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_conductivity_2" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_conductivity_3" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_conductivity_4" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_conductivity_5" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_conductivity_6" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_conductivity_7" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_conductivity_8" class="text-center align-middle"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Dissolved Oxygen Table -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 data-locale-key="oxygenTable" class="m-0 font-weight-bold text-primary"></h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form id="oxygenDateRangeForm" action="/all-data" method="GET">
                                    <div class="row d-flex justify-content-start mb-2">
                                        <div class="col-xl-2 col-md-4 col-sm-6">
                                            <span class="mr-2">Start Date: <input type="text" id="oxygenStartDatePicker" class="mr-4 form-control" name="startDate"></span>
                                        </div>
                                        <div class="col-xl-2 col-md-4 col-sm-6">
                                            <span>End Date: <input type="text" id="oxygenEndDatePicker" class="mr-4 form-control" name="endDate"></span>
                                        </div>
                                        <div class="align-items-center user-select-none col-xl-2 col-md-4 col-sm-12">
                                            <br>
                                            <button class="btn btn-primary btn-icon-split mb-4" type="submit">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                                <span class="text">Search</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <table class="table table-bordered dataTable" id="oxygenAllTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th data-locale-key="time" class="text-center align-middle"></th>
                                            <th data-locale-key="measured_oxygen" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_oxygen_1" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_oxygen_2" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_oxygen_3" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_oxygen_4" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_oxygen_5" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_oxygen_6" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_oxygen_7" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_oxygen_8" class="text-center align-middle"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- PPM Table -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 data-locale-key="ppmTable" class="m-0 font-weight-bold text-primary"></h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form id="ppmDateRangeForm" action="/all-data" method="GET">
                                    <div class="row d-flex justify-content-start mb-2">
                                        <div class="col-xl-2 col-md-4 col-sm-6">
                                            <span class="mr-2">Start Date: <input type="text" id="ppmStartDatePicker" class="mr-4 form-control" name="startDate"></span>
                                        </div>
                                        <div class="col-xl-2 col-md-4 col-sm-6">
                                            <span>End Date: <input type="text" id="ppmEndDatePicker" class="mr-4 form-control" name="endDate"></span>
                                        </div>
                                        <div class="align-items-center user-select-none col-xl-2 col-md-4 col-sm-12">
                                            <br>
                                            <button class="btn btn-primary btn-icon-split mb-4" type="submit">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                                <span class="text">Search</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <table class="table table-bordered dataTable" id="ppmAllTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th data-locale-key="time" class="text-center align-middle"></th>
                                            <th data-locale-key="measured_ppm" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_ppm_1" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_ppm_2" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_ppm_3" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_ppm_4" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_ppm_5" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_ppm_6" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_ppm_7" class="text-center align-middle"></th>
                                            <th data-locale-key="prediction_ppm_8" class="text-center align-middle"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                                        <!-- WaterLevel Table -->
                                        <!-- <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 data-locale-key="waterLevelTable" class="m-0 font-weight-bold text-primary"></h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <form id="waterLevelDateRangeForm" action="/all-data" method="GET">
                                                        <div class="row d-flex justify-content-start mb-2">
                                                            <div class="col-xl-2 col-md-4 col-sm-6">
                                                                <span class="mr-2">Start Date: <input type="text" id="waterLevelStartDatePicker" class="mr-4 form-control" name="startDate"></span>
                                                            </div>
                                                            <div class="col-xl-2 col-md-4 col-sm-6">
                                                                <span>End Date: <input type="text" id="waterLevelEndDatePicker" class="mr-4 form-control" name="endDate"></span>
                                                            </div>
                                                            <div class="align-items-center user-select-none col-xl-2 col-md-4 col-sm-12">
                                                                <br>
                                                                <button class="btn btn-primary btn-icon-split mb-4" type="submit">
                                                                    <span class="icon text-white-50">
                                                                        <i class="fas fa-search"></i>
                                                                    </span>
                                                                    <span class="text">Search</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <table class="table table-bordered dataTable" id="waterLevelAllTable" width="100%" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th data-locale-key="time" class="text-center align-middle"></th>
                                                                <th data-locale-key="measured_waterLevel" class="text-center align-middle"></th>
                                                                <th data-locale-key="prediction_waterLevel_1" class="text-center align-middle"></th>
                                                                <th data-locale-key="prediction_waterLevel_2" class="text-center align-middle"></th>
                                                                <th data-locale-key="prediction_waterLevel_3" class="text-center align-middle"></th>
                                                                <th data-locale-key="prediction_waterLevel_4" class="text-center align-middle"></th>
                                                                <th data-locale-key="prediction_waterLevel_5" class="text-center align-middle"></th>
                                                                <th data-locale-key="prediction_waterLevel_6" class="text-center align-middle"></th>
                                                                <th data-locale-key="prediction_waterLevel_7" class="text-center align-middle"></th>
                                                                <th data-locale-key="prediction_waterLevel_8" class="text-center align-middle"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- PM25 Table -->
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 data-locale-key="pm25Table" class="m-0 font-weight-bold text-primary"></h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <form id="pm25DateRangeForm" action="/all-data" method="GET">
                                                        <div class="row d-flex justify-content-start mb-2">
                                                            <div class="col-xl-2 col-md-4 col-sm-6">
                                                                <span class="mr-2">Start Date: <input type="text" id="pm25StartDatePicker" class="mr-4 form-control" name="startDate"></span>
                                                            </div>
                                                            <div class="col-xl-2 col-md-4 col-sm-6">
                                                                <span>End Date: <input type="text" id="pm25EndDatePicker" class="mr-4 form-control" name="endDate"></span>
                                                            </div>
                                                            <div class="align-items-center user-select-none col-xl-2 col-md-4 col-sm-12">
                                                                <br>
                                                                <button class="btn btn-primary btn-icon-split mb-4" type="submit">
                                                                    <span class="icon text-white-50">
                                                                        <i class="fas fa-search"></i>
                                                                    </span>
                                                                    <span class="text">Search</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <table class="table table-bordered dataTable" id="pm25AllTable" width="100%" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th data-locale-key="time" class="text-center align-middle"></th>
                                                                <th data-locale-key="measured_pm25" class="text-center align-middle"></th>
                                                                <th data-locale-key="prediction_pm25_1" class="text-center align-middle"></th>
                                                                <th data-locale-key="prediction_pm25_2" class="text-center align-middle"></th>
                                                                <th data-locale-key="prediction_pm25_3" class="text-center align-middle"></th>
                                                                <th data-locale-key="prediction_pm25_4" class="text-center align-middle"></th>
                                                                <th data-locale-key="prediction_pm25_5" class="text-center align-middle"></th>
                                                                <th data-locale-key="prediction_pm25_6" class="text-center align-middle"></th>
                                                                <th data-locale-key="prediction_pm25_7" class="text-center align-middle"></th>
                                                                <th data-locale-key="prediction_pm25_8" class="text-center align-middle"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                </div>
                <!-- /.container-fluid -->


