    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="d-flex">
                                        <ul class="navbar-nav ml-auto">
                                            <li class="dropdown nav-item dropdown no-arrow">
                                                <a class="dropdown-toggle" href="#" id="userDropdown" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img id="language-flag" class="img-profile rounded-circle"
                                                    src="img/cn-flag.png" width="30px" height="30px">
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right shadow "
                                                    aria-labelledby="userDropdown">
                                                    <a class="dropdown-item" href="javascript:void(0);" onclick="switchLanguage('cn')">
                                                        <img id="language-flag" class="img-profile rounded-circle"
                                                        src="img/cn-flag.png" width="30px" height="30px">
                                                        中文(繁體)
                                                    </a>
                                                    <a class="dropdown-item" href="javascript:void(0);" onclick="switchLanguage('en')">
                                                        <img id="language-flag" class="img-profile rounded-circle"
                                                        src="img/en-flag.png" width="30px" height="30px">
                                                        English(US)
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="text-center">
                                        <h1 data-locale-key="login" class="h4 text-gray-900 mb-4 text-uppercase"></h1>
                                    </div>
                                    <form method="post" action="/" class="user">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="exampleInputEmail" 
                                                data-locale-key="username" placeholder="" name="username" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" data-locale-key="password" placeholder="" name="password" required>
                                                <br>
                                                <% if (typeof errors !== 'undefined') { %>
                                                    <p class="text-danger text-center"><%= errors[0].msg %></p>
                                                <% } %>
                                        </div>
                                        <button data-locale-key="login" type="submit" class="btn btn-primary btn-user btn-block"></button>
                                        <a data-locale-key="login_as_guest" href="/login-guest" class="btn btn-block btn-user"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>