<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 data-locale-key="latest_data_result" class="h3 mb-2 text-gray-800"></h1>
  <!-- Temperature Table -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6
        data-locale-key="temperatureTable"
        class="m-0 font-weight-bold text-primary"
      ></h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered dataTable"
          id="temperatureTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th data-locale-key="time" class="text-center align-middle"></th>
              <th
                data-locale-key="measured_temperature"
                class="text-center align-middle"
              ></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- pH Table -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6
        data-locale-key="pHTable"
        class="m-0 font-weight-bold text-primary"
      ></h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered temperatureTable dataTable"
          id="pHTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th data-locale-key="time" class="text-center align-middle"></th>
              <th
                data-locale-key="measured_acidity"
                class="text-center align-middle"
              ></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Conductivity Table -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6
        data-locale-key="conductivityTable"
        class="m-0 font-weight-bold text-primary"
      ></h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered dataTable"
          id="conductivityTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th data-locale-key="time" class="text-center align-middle"></th>
              <th
                data-locale-key="measured_conductivity"
                class="text-center align-middle"
              ></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Dissolved Oxygen Table -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6
        data-locale-key="oxygenTable"
        class="m-0 font-weight-bold text-primary"
      ></h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered dataTable"
          id="oxygenTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th data-locale-key="time" class="text-center align-middle"></th>
              <th
                data-locale-key="measured_oxygen"
                class="text-center align-middle"
              ></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- PPM Table -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6
        data-locale-key="ppmTable"
        class="m-0 font-weight-bold text-primary"
      ></h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered dataTable"
          id="ppmTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th data-locale-key="time" class="text-center align-middle"></th>
              <th
                data-locale-key="measured_ppm"
                class="text-center align-middle"
              ></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- PM25 Table -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6
        data-locale-key="pm25Table"
        class="m-0 font-weight-bold text-primary"
      ></h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered dataTable"
          id="pm25Table"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th data-locale-key="time" class="text-center align-middle"></th>
              <th
                data-locale-key="measured_pm25"
                class="text-center align-middle"
              ></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
